<br>


{{!-- <div id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p>Welcome to the Childrens Money Manager! You will first enter the amount of money you have. Then you will pick
			something you would like to buy. Based on how much youd have, and how much your item costs, we will give you the
			calcutations
			on how long it will take to purchase the item based on your chores.</p>
	</div>
</div> --}}

<div class="userInput">
	<div class="row">
		<div class="col s12 m6">
			<div class="card cardLayout blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Enter your name to begin the fun! </span>
				</div>
				<div class="card-action">
					<input type="text" class="form-control" id="username" placeholder="Your name">
					<button id="submit" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>
						Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>








{{!-- <div class="container">
	<div class="row">
		<div class="card splashCard">
			<div class="card-image">
				<img class="moneyImg" src="https://www.prettyneat.com.au/wp-content/uploads/2018/10/Hamlet_Piggy.gif">
				<span class="card-title">Money Manager</span>
			</div>
			<div class="card-content">
				<p>Welcome to the Childrens Money Manager! You will first enter the amount of money you have. Then you will pick
					something
					you would like to buy. Based on how much youd have, and how much your item costs, we will give you the
					calcutations
					on how long it will take to purchase the item based on your chores.</p>
				<form role="form">
					<div class="form-group">
						<h3>Enter your name to begin the fun! </h3>
						<input type="text" class="form-control" id="username" placeholder="Your name">
						<input type="text" class="form-control" id="addFunds" placeholder="Add Funds $">
						<button id="submit" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>
							Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> --}}